@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Minecraft-Regular;
  src: url("/fonts/Minecraft-Regular.otf") format("opentype");
}

@font-face {
  font-family: Minecrafter;
  src: url("/fonts/Minecrafter.ttf") format("truetype");
}

@font-face {
  font-family: Minecrafter-Cracked;
  src: url("/fonts/Minecrafter-Cracked.ttf") format("truetype");
}

:root {
  --inv-background: #c6c6c6;
  --slot-background: #8b8b8b;
  --slot-background-hover: #9f9f9f;
  --slot-shadow: rgba(55, 55, 55, 0.7);
  --slot-inset: #fefefe;

  --button-text: #ddd;
  --button-text-shadow: #000a;
  --button-text-hover: #ffffa0;
  --button-text-hover-shadow: #202013cc;
  --button-background: #999;
  --button-background-hover: rgba(100, 100, 255, 0.45);
  --button-active-inset-dark: #0004;
  --button-active-inset-light: #fff7;
  --button-text-inset-dark: #0006;
  --button-active-text-inset-light: #fff5;
}


body {
    background-image: url("/images/dirt-background.webp");
    margin: 1rem;
    font-family: Minecraft-Regular;
}


/* Minecraft Style Button */
.mc-button {
  overflow: hidden;
  white-space: nowrap;
  user-select: none;

  color: var(--inv-background);
  text-decoration: none;

  background: var(--button-background) url("/images/button-background.png")
    center / cover;
  image-rendering: pixelated;
  border: 2px solid black;

  text-align: center;
}

.mc-button .title {
  font-family: Minecraft-Regular;
}

/* Mouseover */
.mc-button:hover .title {
  background-color: var(--button-background-hover);
  text-shadow: 2px 2px var(--button-text-hover-shadow);
  color: var(--button-text-hover);
}

.mc-button:active .title {
  box-shadow: inset -2px -4px var(--button-active-inset-dark),
    inset 2px 2px var(--button-active-text-inset-light);
}

/* Button title */
.mc-button .title {
  width: 100%;
  height: 100%;
  padding: 0.25rem 0.5rem;

  color: var(--button-text);
  text-shadow: 2px 2px var(--button-text-shadow);
  box-shadow: inset -2px -4px var(--button-text-inset-dark),
    inset 2px 2px var(--button-active-inset-light);
}

h1 {
  /* font-size: 3em; */
  font-size: min(3em, 10vw);
  font-family: Minecrafter-Cracked;
}

h2 {
  font-size: min(1.5em, 10vw);
  font-family: Minecraft-Regular;
  font-weight: bold;
}

p {
  font-family: Minecraft-Regular;
}

header {
  color: var(--inv-background);
}

.inv-background {
  background: var(--inv-background);
  color: var(--slot-shadow);
  border-radius: 3px;
  box-shadow: 5px 5px 0px var(--slot-shadow),
    inset 4px 4px 0px var(--slot-inset);
  padding: 1.5rem;
  margin-bottom: 10px;
}

.slot {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  background-color: var(--slot-background);
  box-shadow: inset 2px 2px 0px var(--slot-shadow),
    inset -2px -2px 0px var(--slot-inset);
}

.slot:hover,
.slot.dragging {
  background-color: var(--slot-background-hover);
}

.slot-image {
  margin: auto;
  width: 2.5rem;
  height: 2.5rem;
  image-rendering: pixelated;
  /* image-rendering: auto; */
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

#cursor {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  height: 3rem;
  width: 3rem;
  margin: auto;
  background-size: cover;
  image-rendering: pixelated;
  z-index: 100000;
}