/* Global stylesheet */

@font-face {
  font-family: Minecraft-Regular;
  src: url("../fonts/Minecraft-Regular.otf") format("opentype");
}

@font-face {
  font-family: Minecrafter;
  src: url("../fonts/Minecrafter.ttf") format("truetype");
}

@font-face {
  font-family: Minecrafter-Cracked;
  src: url("../fonts/Minecrafter-Cracked.ttf") format("truetype");
}

:root {
  --inv-background: #c6c6c6;
  --slot-background: #8b8b8b;
  --slot-background-hover: #9f9f9f;
  --slot-shadow: rgba(55, 55, 55, 0.7);
  --slot-inset: #fefefe;

  --button-text: #ddd;
  --button-text-shadow: #000a;
  --button-text-hover: #ffffa0;
  --button-text-hover-shadow: #202013cc;
  --button-background: #999;
  --button-background-hover: rgba(100, 100, 255, 0.45);
  --button-active-inset-dark: #0004;
  --button-active-inset-light: #fff7;
  --button-text-inset-dark: #0006;
  --button-active-text-inset-light: #fff5;
}

body {
  background-image: url("../images/dirt-background.webp");
  margin: 1rem;
  font-family: Minecraft-Regular;
}

header {
  color: var(--inv-background);
  max-width: 40rem;
  margin: auto;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 3em;
  font-size: min(3em, 10vw);
  font-family: Minecrafter-Cracked;
}

h2 {
  text-align: center;
  margin: auto;
}

main {
  max-width: 40rem;
  margin: auto;
}

a,
a:visited {
  text-decoration: none;
  color: blue;
}

/* Utility */

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
}

.navigation {
  display: flex;
  margin: 0;
  margin-bottom: 1rem;
}

.left,
.right,
.middle {
  flex: 1;
  margin: 0 0.5rem;
}

/* Minecraft Style Button */
.mc-button {
  overflow: hidden;
  white-space: nowrap;
  user-select: none;

  color: var(--inv-background);
  text-decoration: none;

  background: var(--button-background) url("../images/button-background.png")
    center / cover;
  image-rendering: pixelated;
  border: 2px solid black;

  text-align: center;
}

/* Mouseover */
.mc-button:hover .title {
  background-color: var(--button-background-hover);
  text-shadow: 2px 2px var(--button-text-hover-shadow);
  color: var(--button-text-hover);
}

.mc-button:active .title {
  box-shadow: inset -2px -4px var(--button-active-inset-dark),
    inset 2px 2px var(--button-active-text-inset-light);
}

/* Button title */
.mc-button .title {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;

  color: var(--button-text);
  text-shadow: 2px 2px var(--button-text-shadow);
  box-shadow: inset -2px -4px var(--button-text-inset-dark),
    inset 2px 2px var(--button-active-inset-light);
}

.guesses {
  max-width: 22rem;
  margin: auto;
}

.inv-background {
  background: var(--inv-background);
  color: var(--slot-shadow);
  border-radius: 3px;
  box-shadow: 5px 5px 0px var(--slot-shadow),
    inset 4px 4px 0px var(--slot-inset);
  padding: 1.5rem;
  margin-bottom: 10px;
}

.slot {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  background-color: var(--slot-background);
  box-shadow: inset 2px 2px 0px var(--slot-shadow),
    inset -2px -2px 0px var(--slot-inset);
}

.slot:hover,
.slot.dragging {
  background-color: var(--slot-background-hover);
}

.lockedslot {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  background-color: var(--slot-background);
  box-shadow: inset 2px 2px 0px var(--slot-shadow),
    inset -2px -2px 0px var(--slot-inset);
}

.slot-image {
  margin: auto;
  width: 2.5rem;
  height: 2.5rem;
  image-rendering: pixelated;
  /* image-rendering: auto; */
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

#popupSlot {
  margin: auto;
}

.crafting-table {
  width: 9rem;
  height: 9rem;
  display: flex;
  flex-wrap: wrap;
}

.crafting-output {
  margin: 3rem 0;
}

.arrow {
  color: var(--slot-background);
  margin: auto;
  font-size: 3rem;
}

.arrow p {
  margin: 0;
}

.ingredients {
  max-width: 18rem;
  margin: auto;
}

.ingredients-list {
  justify-content: center;
  width: auto;
  margin: 1rem auto;
}

#cursor {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  height: 3rem;
  width: 3rem;
  margin: auto;
  background-size: cover;
  image-rendering: pixelated;
}

#solution,
#timezone {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  height: 1rem;
  width: 1rem;
}

.greenguess {
  background-color: hsla(92, 100%, 37%, 0.859);
}

.orangeguess {
  background-color: #caa905;
}

.greyguess {
  background-color: rgb(83, 83, 83);
}

.transition {
  transition: all 1s ease;
}

/*
Support for the statistics page
*/
table {
  width: 100%;
}

.stats_div {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}

.white {
  color: var(--button-text);
  margin: 1rem 0;
}

tr:nth-child(even) {
  color: grey;
}

tr:nth-child(odd) {
  color: white;
}

td {
  text-align: left;
  font-size: large;
}

.stats_value {
  text-align: right;
}

#popupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  margin: 0 auto;
  max-width: 25rem;
  max-height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#popupContent {
  white-space: pre;
  font-family: Minecraft-Regular;
  max-height: 30rem;
  overflow-y: scroll;
}

.close-popup {
  margin: 0.5rem auto;
  margin-bottom: 0;
  max-width: 6rem;
}

.show-popup {
  margin: 0.5rem auto;
  max-width: 10rem;
}

.loading-spinner {
  border: 0.5rem solid var(--slot-background-hover); /* Light grey */
  border-top: 0.5rem solid var(--slot-background); /* Blue */
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
