<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='icons/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='icons/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='icons//site.webmanifest') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='icons//safari-pinned-tab.svg') }}"
      color="#5bbad5"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='icons/favicon.ico') }}"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta
      name="msapplication-config"
      content="{{ url_for('static', filename='icons/browserconfig.xml') }}"
    />
    <meta name="theme-color" content="#221A13" />

    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
  </head>

  <body>
    <audio
      id="click"
      src="{{ url_for('static', filename='audio/button_click.wav') }}"
    ></audio>
    <header>
      <h1>Minecraftle</h1>
      <div class="navigation">
        <div class="left">
          <div
            onclick="triggerAudioButton('../how-to-play', 'click')"
            class="mc-button"
          >
            <div class="title">How To Play</div>
          </div>
        </div>
        <div class="left">
          <div onclick="triggerAudioButton('#', 'click')" class="mc-button">
            <div class="title" id="statsbutton">Stats</div>
          </div>
        </div>
        <div class="navigation left">
          <div class="left">
            <div
              onclick="triggerAudioButton('#', 'click');playMusic()"
              class="mc-button"
            >
              <div class="title">♫</div>
            </div>
          </div>
          <div class="left">
            <div
              onclick="switchHighContrastMode()"
              class="mc-button"
              title="Toggle high contrast mode"
            >
              <div class="title">☼</div>
            </div>
          </div>
        </div>
      </div>
      <div class="navigation">
        <div class="left">
          <div onclick="triggerAudioButton('/', 'click')" class="mc-button">
            <div class="title">Daily</div>
          </div>
        </div>
        <div class="left">
          <div
            onclick="triggerAudioButton('/?random=True', 'click')"
            class="mc-button"
          >
            <div class="title">Random</div>
          </div>
        </div>
      </div>
    </header>
    <div id="content">{% block content %}{% endblock %}</div>
    <script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cookies.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dynamicStylesheet.js') }}"></script>
  </body>
</html>
