<!DOCTYPE html>

<html lang="en">

<head>
  {% if title %}
  <title> {{ title }} </title>
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
  <audio id="click" src="static\audio\4.wav"></audio>
  <audio id="music" src="static\audio\C418 - Aria Math (Minecraft Volume Beta).mp3"></audio>
  <header>
    <h1>Minecraftle</h1>
    <div class="navigation">
      <div class="left">
        <div onclick="triggerAudioButton('/', 'click')" , class="mc-button">
          <div class="title">Home</div>
        </div>
      </div>
      <div class="left">
        <div onclick="triggerAudioButton('how-to-play', 'click')" , class="mc-button">
          <div class="title">How To Play</div>
        </div>

      </div>
      <div class="left">
        <div onclick="triggerAudioButton('stats', 'click')" , class="mc-button">
          <div class="title">Stats</div>
        </div>
      </div>
      <div class="left">
        <div onclick="triggerAudioButton('#', 'click')" , class="mc-button">
          <div class="title">Check</div>
        </div>
      </div>
      <div class="left">
        <div onclick="triggerAudioButton('#', 'music')" , class="mc-button">
          <div class="title">play</div>
        </div>
      </div>
    </div>
  </header>
  <div id="content">{% block content %}{% endblock %}</div>
  <script src="static/js/buttons.js"></script>
</body>

</html>