{% extends "base.html" %}

{% block content %}
    <main>
        <div class="inv-background">
                <h2>How To Play</h2>
                <p>
                    Once we actually determine the rules, the will go here!
                    Presumably it will be fun.  Fun is mandatory.
                    If you are not having fun please report this to your nearest Government Enjoyment Enforcer™.
                    Please drink verification can.
                </p>
                <p class="center">
                    <a href="/">Play game!</a>
                </p>
        </div>
        <div class="inv-background">
            <h2>About</h2>
            <p>
                Created by Tamura Boog, Zach Manson, Harrison Oates, Ivan Sossa in 2022.
            </p>
            <p>
                Built using Flask.<br>
                Source code: <a href="https://github.com/pavo-etc/cits3403-project">GitHub</a>
            </p>
        </div>


    </main>

{% endblock %}