{% extends "base.html" %}

{% block content %}
    <main>
        <div class="inv-background">
                <h2>How To Play</h2>
                <p style="font-weight: bold; text-align: center">
                Your goal is to guess and craft the secret item from the ingredients given in your inventory:
                </p>
                <p>-You have <span style="font-weight: bold">10</span> guesses</p>
                <p>-If your guess is incorrect, some of the grid may be coloured to give you feedback :)</p>
                <p>-A green square means the ingredient placed on that square is correct and in the right spot!</p>
                <p>-An orange square means that this ingredient is needed somewhere else on the grid, but not at the spot...</p>
                <p>-If the square remains grey, the ingredient you placed here is not required, hmmm</p>

                <p style="font-weight: bold; text-align: center">Click below to start the game and test your true knowledge of Minecraft...Your reputation is on the line!</p>
                <p class="center">
                    <a href="/">Play game!</a>
                </p>
        </div>
        <div class="inv-background">
            <h2>About</h2>
            <p>
                Created by Tamura Boog, Zach Manson, Harrison Oates, Ivan Sossa Gongora in 2022.
            </p>
            <p>
                Built using Flask.<br>
                Source code: <a href="https://github.com/pavo-etc/cits3403-project">GitHub</a>
            </p>
        </div>


    </main>

{% endblock %}