{% extends "base.html" %}

{% block content %}
<div class="guesses" id="guesses"></div>
{% if solution %}
<div id="solution">{{ solution }}</div>
{% endif %}
<div class="inv-background ingredients" id="ingredients">
  <div class="flex">
    <h2 class="left">Crafting Ingredients</h2>
  </div>
  <div class="flex wrap ingredients-list" id="ingredientsList"></div>
  <p class="left center">Guess <span id="guess-counter">1</span>/10</p>
</div>
<div id="cursor"></div>
<script src="{{ url_for('static', filename='js/processGuess.js') }}"></script>
<script src="{{ url_for('static', filename='js/init.js') }}"></script>
{% endblock %}