{% extends "base.html" %}

{% block content %}
    <header>
        <h1>{{title}}</h1>
        <p>Insert tagline here!</p>
    </header>    
    <div class="guesses">
        <div class="crafting-row">
            <div class="crafting-table">
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
            </div>    
            <div class="arrow">
                <p>&#8594;</p>
            </div>
            <div class="crafting-output">
                <div class="slot"></div>
            </div>      
        </div>
        <div class="crafting-row">
            <div class="crafting-table">
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
            </div>    
            <div class="arrow">
                <p>&#8594;</p>
            </div>
            <div class="crafting-output">
                <div class="slot"></div>
            </div>      
        </div>
        <div class="crafting-row">
            <div class="crafting-table">
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
            </div>    
            <div class="arrow">
                <p>&#8594;</p>
            </div>
            <div class="crafting-output">
                <div class="slot"></div>
            </div>      
        </div>
    </div>
{% endblock %}
