{% extends "base.html" %}

{% block content %}
<div class="guesses" id="guesses"></div>
{% if solution %}
<div id="solution" solution="{{solution}}" ></div>
{% endif %}
{% if timezone %}
<div id="timezone">{{ timezone }}</div>
{% endif %}
<div class="inv-background ingredients" id="ingredients">
  <div class="flex">
    <h2 class="left">Crafting Ingredients</h2>
  </div>
  <div class="flex wrap ingredients-list" id="ingredientsList">
    <div class="loading-spinner" id="inv-spinner"></div>
  </div>
  <p class="left center">Guess <span id="guess-counter">1</span>/10</p>
</div>
<div id="cursor"></div>
<div id="popupContainer" class="inv-background">
  <div id="popup">
    <div id="popupSlot" class="slot">
      <div class="slot-image" id="popupSlotImage"></div>
    </div>
    <p id="popupContent" class="center"></p>
    <div class="flex">
      <div class="left">
        <div id="popupCopyButton" class="mc-button">
          <div class="title center">Copy</div>
        </div>
      </div>
      <div class="left">
        <div id="popupStatsButton" class="mc-button">
          <div class="title center">Stats</div>
        </div>
      </div>
    </div>
    <div id="close-popup" class="mc-button close-popup" onclick="triggerAudioButton('', 'click');togglePopup()">
      <div class="title center">Close</div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/processGuess.js') }}"></script>
<script src="{{ url_for('static', filename='js/init.js') }}"></script>
{% endblock %}