{% extends "base.html" %}

{% block content %}
<main>
  <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
  <h2 class="white">Statistics</h1>

    <div class="stats_div">
      <table>
        <tr>
          <td>Global ranking</td>
          <td class="stats_value">{{rank}}</td>
        </tr>
        {% if position != "N/A" and position != 1 %}
        <tr>
          <td>Wins behind #{{position-1}}</td>
          <td class="stats_value">{{up_diff}}</td>
        </tr>
        {% endif %}
        {% if position != "N/A" and position != total_player_count %}
        <tr>
          <td>Wins ahead of #{{position+1}}</td>
          <td class="stats_value">{{down_diff}}</td>
        </tr>
        {% endif %}

        <tr>
          <td><br></td>
          <td><br></td>
        </tr>
        <tr>
          <td>Games played</td>
          <td class="stats_value">{{games_played}}</td>
        </tr>
        <tr>
          <td>Games won</td>
          <td class="stats_value">{{wins}}</td>
        </tr>
        <tr>
          <td>Games lost</td>
          <td class="stats_value">{{games_played-wins}}</td>
        </tr>
        <tr>
          <td>Win% ratio</td>
          {% if games_played == 0 %}
          <td class="stats_value">N\A</td>
          {% else %}
          <td class="stats_value">{{wins/games_played * 100}}%</td>
          {% endif %}
        </tr>
        <tr>
          <td><br></td>
          <td><br></td>
        </tr>
        {% for i in attempts %}
        <tr>
          {% if loop.index == 1 %}
          <td>Wins with {{loop.index}} attempt</td>
          {% else %}
          <td>Wins with {{loop.index}} attempts</td>
          {% endif %}
          <td class="stats_value">{{i}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <header>
      <h2 class="white">Share your stats on social media to fuel your superiority complex</h2>
      <div class="navigation">
        <div class="left">
          <a>
            <div onclick="triggerAudioButton('#','click');tweet()" class="mc-button">
              <div class="title">Twitter</div>
            </div>
        </div>
        <div class="left">
          <a>
            <div onclick="triggerAudioButton('#','click');facebook()" class="mc-button">
              <div class="title">Facebook</div>
            </div>
          </a>
        </div>
        <div class="left">
          <a>
            <div onclick="triggerAudioButton('#','click');reddit()" class="mc-button">
              <div class="title">Reddit</div>
            </div>
          </a>
        </div>
      </div>
    </header>
</main>

{% endblock %}